@*@model IEnumerable<Quiz_App.Models.normalAdmin>*@
@model Quiz_App.Models.normalAdmin


@{
    ViewData["Title"] = "Create Admin";
}


<div class="container">

    <div class="col-md-10 mx-auto text-center ">
        <div class="header-title">
            <form asp-action="NormalAdminData">

                <input type="submit" value="View Admin" formaction="NormalAdminData" class="btn btn-bd-primary" />
                <input type="submit" value="Logout" formaction="SuperAdminLogout" class="btn btn-default">
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 mx-auto" style="text-align: center; border-style: dashed; border-color: red; background-image: url('/assets/images/carousel/img3.jpg')">
            <div class="myform form">
                <form asp-action="normalAdminSaveUpdate" id="form1">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        @*<label asp-for="adminName" class="control-label"></label>*@
                        <input asp-for="adminName" class="form-control" id="txtadminName" name="adminName" required placeholder="Admin Name" style="width:50%;height:20%;background-color:white" />
                        <span asp-validation-for="adminName" class="text-danger" style="display:none"></span>
                    </div>

                    <div class="form-group">
                        @*<label asp-for="adminMobile" class="control-label"></label>*@
                        <input asp-for="adminMobile" class="form-control" id="txtadminMobile" required placeholder="Mobile No" style="width:50%;height:20%;background-color:white" />
                        <span asp-validation-for="adminMobile" class="text-danger" style="display:none"></span>
                    </div>
                    <div class="form-group">
                        @*<label asp-for="adminUserName" class="control-label"></label>*@
                        <input asp-for="adminUserName" class="form-control" id="txtadminUserName" required placeholder="User Name" style="width:50%;height:20%;background-color:white" />
                        <span asp-validation-for="adminUserName" class="text-danger" style="display:none"></span>
                    </div>
                    <div class="form-group">
                        @*<label asp-for="adminUserPassword" class="control-label"></label>*@
                        <input asp-for="adminUserPassword" class="form-control" id="adminUserPassword" required placeholder="Password" style="width:50%;height:20%;background-color:white" />
                        <span asp-validation-for="adminUserPassword" class="text-danger" style="display:none"></span>
                    </div>

                    <div>
                        <input type="submit" value="Create Admin" id="submit" formaction="normalAdminSaveUpdate" class="btn btn-default" style="background-color:green" />
                        @*<input type="submit" value="View Admin" formaction="NormalAdminData" class="btn btn-default" />*@
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>


@*<script type="text/javascript">
        const { NULL } = require("node-sass");

        $(document).ready(function () {
            alert();
            debugger;
            $("#form1").on("click", "#submit", function () {
                if ($("#txtadminName").val() == "" || $("#txtadminName").val() == null) {
                    alert("Admin Name is required");
                    return false;
                }
                else if ($("#txtadminMobile").val() == "" || $("#txtadminMobile").val() == null) {
                    alert("Mobile Number is required");
                    return false;
                }
                else if ($("#txtadminUserName").val() == "" || $("#txtadminUserName").val() == null) {

                    alert("User Name is required");
                    return false;
                }
                else if ($("#adminUserPassword").val() == "" || $("#adminUserPassword").val() == null) {

                    alert("Password is required");
                    return false;
                }


            });

        });
    </script>*@


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

@{
    if (TempData["msg"] != null)
    {
        <script>
                    alert('@TempData["msg"] ');
        </script>
    }
}


