@model Quiz_App.Models.SuperAdmin_Login

@{
    ViewData["Title"] = "This is admin Page passing View Data";
}



<div class="wrapper fadeInDown">
    <div id="formContent" style="background-image: url('/assets/images/carousel/Login_bg.jpg')">
        <!-- Tabs Titles -->
        <!-- Icon -->
        <div class="fadeIn first">
            <img src="~/assets/images/faces-clipart/pic-1.png" id="icon" alt="User Icon" style="height:10%;width:10%;"  />
        </div>
        

        <!-- Login Form -->
        <form asp-action="SuperAdmin" id="form1" style="margin-top:7%">
            @*<input type="text" id="login" class="fadeIn second" name="login" placeholder="login">*@
            <input asp-for="supAdminPassword" type="password" id="password" class="fadeIn second form-control" required placeholder="Enter Password" style="width:50%;height:20%;background-color:white;margin-left:25%;background-color:lightcyan;border-style:solid;border-color:blue;border-block:groove">
            <br />  <input type="submit" class="fadeIn fourth" id="submit" value="Log In" />
        </form>

        <!-- Remind Passowrd -->
        <div id="formFooter">
            @*<a class="underlineHover" href="#">Forgot Password?</a>*@
            <p style="background-color:black;color:white;font-family:Arial;">Welcome Super Admin</p>
        </div>

    </div>
</div>

@*<script type="text/javascript">
       $(document).ready(function () {
           $("#form1").on("click", "#submit", function () {
               if ($("#password").val() == "" || $("#password").val() == null) {
                   alert("Password is required");
                   return false;
               }
           });

       });
    </script>*@

@{
    if (TempData["msg"] != null)
    {
        <script>
                    alert('@TempData["msg"]')

        </script>
    }
}
