@*@model IEnumerable<Quiz_App.Models.normalAdmin>*@
@model Quiz_App.Areas.Models.normalAdmin


@{
    ViewData["Title"] = "Create Admin";
}
<div class="container">

    <div class="col-md-10 mx-auto text-center ">
        <div class="header-title">
            <span style="font-family: 'Trebuchet MS',sans-serif; font-size: 2em;color:lime; letter-spacing: -2px; border-bottom: 2px solid black; text-transform: uppercase;">Welcome Super Admin</span>
        </div>
    </div><br />
    <div class="col-md-10 mx-auto text-center ">
        <div class="header-title">
            <form asp-action="NormalAdminData">
               
                <button class="btn btn-dark btn-icon-split" id="save" formaction="NormalAdminData">
                    <span class="icon text-white-50">
                        <i class="fas fa-street-view"></i>
                    </span>
                    <span class="text">View Admin</span>
                </button>

                <button class="btn btn-danger btn-icon-split" formaction="SuperAdminLogout">
                    <span class="icon text-white-50">
                        <i class="fas fa-backward"></i>
                    </span>
                    <span class="text">Logout</span>
                </button>
            </form>
        </div>
    </div><br />
    <div class="row">
        <div class="col-sm-6 mx-auto" style="text-align: center; border-style: solid; border-color: white;">
            <div class="myform form ">
                <form class="user" asp-action="normalAdminSaveUpdate" id="form1" autocomplete="off" >
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <input type="text" asp-for="adminName" class="form-control form-control-user" id="exampleFirstName"
                               placeholder="Full Name" required style="text-align: center; border-color: aqua; font-family: Arial; font-size: large; font-weight: 300">
                        @*<input asp-for="adminName" class="form-control" id="txtadminName" name="adminName" required placeholder="Admin Name" style="width:50%;height:20%;background-color:white" />*@
                        <span asp-validation-for="adminName" class="text-danger" style="display:none"></span>
                    </div>

                    <div class="form-group">
                        <input type="text" asp-for="adminMobile" class="form-control form-control-user" id="exampleFirstName"
                               placeholder="Mobile No" required style="text-align: center; border-color: aqua; font-family: Arial; font-size: large; font-weight: 300">
                        @*<input asp-for="adminMobile" class="form-control" id="txtadminMobile" required placeholder="Mobile No" style="width:50%;height:20%;background-color:white" />*@
                        <span asp-validation-for="adminMobile" class="text-danger" style="display:none"></span>
                    </div>
                    <div class="form-group">
                        <input type="text" asp-for="adminUserName" class="form-control form-control-user" id="exampleFirstName"
                               placeholder="User Name" required style="text-align: center; border-color: aqua; font-family: Arial; font-size: large; font-weight: 300">
                        @*<input asp-for="adminUserName" class="form-control" id="txtadminUserName" required placeholder="User Name" style="width:50%;height:20%;background-color:white" />*@
                        <span asp-validation-for="adminUserName" class="text-danger" style="display:none"></span>
                    </div>
                    <div class="form-group">
                        <input type="text" asp-for="adminUserPassword" class="form-control form-control-user" id="exampleFirstName"
                          placeholder="Password" required style="text-align: center; border-color: aqua; font-family: Arial; font-size: large; font-weight: 300">
                        @*<input asp-for="adminUserPassword" class="form-control" id="adminUserPassword" required placeholder="Password" style="width:50%;height:20%;background-color:white" />*@
                        <span asp-validation-for="adminUserPassword" class="text-danger" style="display:none"></span>
                    </div>

                    <div>
                        @*<input type="submit" value="Create Admin" id="submit" formaction="normalAdminSaveUpdate" class="btn btn-default" style="background-color:green" />*@


                        @*<a class="btn btn-dark btn-icon-split" type="submit" href="@Url.Action("normalAdminSaveUpdate","Account",new {Area="Admin"})">
                            <span class="icon text-white-50">
                                <i class="fas fa-save"></i>
                            </span>
                            <span class="text">Save</span>

                        </a>*@


                        <button type="submit" class="btn btn-dark btn-icon-split" formaction="normalAdminSaveUpdate">
            <span class="icon text-white-50">
                <i class="fas fa-save"></i>
            </span>
            <span class="text">Save</span>
        </button>



                        <button type="reset" class="btn btn-danger btn-icon-split">
                            <span class="icon text-white-50">
                                <i class="fas fa-times"></i>
                            </span>
                            <span class="text">Reset</span>

                        </button>
                        <br />
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>





@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

@{
    if (TempData["msg"] != null)
    {
        <script>
                    alert('@TempData["msg"] ');
        </script>
    }
}


