@model Quiz_App.Areas.Models.SuperAdmin_Login

@{
    ViewData["Title"] = "This is admin Page passing View Data";
}


<div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block">
                            <img src="~/img/quizimg.jpg" style="width:92%;height:82%;margin-left:6%;margin-top:6%" />
                        </div>

                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Welcome Super Admin!</h1>
                                </div>
                                <form asp-action="SuperAdmin" class="user" autocomplete="off">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>




                                    <div class="form-group">
                                        <input type="password" asp-for="supAdminPassword" required class="form-control form-control-user"
                                               id="exampleInputPassword" placeholder="Enter Password..."
                                               style="border-color:aqua;width:88%;text-align:center;border-width:unset">

                                    </div>
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox small">
                                            <input type="checkbox" class="custom-control-input" id="customCheck">&nbsp;&nbsp;&nbsp;
                                            <label class="custom-control-label" for="customCheck">
                                                Remember Me
                                            </label>
                                        </div>
                                    </div>

                                    <button class="btn btn-primary btn-user btn-block" formaction="SuperAdmin">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-sign-in"></i>
                                        </span>
                                        <span class="text">Proceed</span>

                                    </button>



                                    <hr>

                                </form>


                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>
@*<div class="wrapper fadeInDown">
        <div id="formContent" style="background-image: url('/assets/images/carousel/Login_bg.jpg')">

            <div class="fadeIn first">
                <img src="~/assets/images/faces-clipart/pic-1.png" id="icon" alt="User Icon" style="height:10%;width:10%;"  />
            </div>



            <form asp-action="SuperAdmin" id="form1" style="margin-top:7%">
                <input asp-for="supAdminPassword" type="password" id="password" class="fadeIn second form-control" required placeholder="Enter Password" style="width:50%;height:20%;background-color:white;margin-left:25%;background-color:lightcyan;border-style:solid;border-color:blue;border-block:groove">
                <br />  <input type="submit" class="fadeIn fourth" id="submit" value="Log In" />
            </form>


            <div id="formFooter">

                <p style="background-color:black;color:white;font-family:Arial;">Welcome Super Admin</p>
            </div>

        </div>
    </div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


@{
    if (TempData["msg"] != null)
    {
        <script>
                    alert('@TempData["msg"]')

        </script>
    }
}
