

@using Quiz_App


<div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block">
                            <img src="~/img/quizimg.jpg" style="width:92%;height:82%;margin-left:6%;margin-top:6%" />
                        </div>

                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    @*<h1 class="h4 text-gray-900 mb-4">Welcome To Quiz Dashboard!</h1>*@
                                    <span style="font-family: 'Trebuchet MS',sans-serif; font-size: 1.5em;color:mediumblue; letter-spacing: 0px; border-bottom: 2px solid black; text-transform: uppercase;">Welcome To Quiz Dashboard!</span>

                                </div><br /><br />
                                <form asp-action="SuperAdmin" class="user" autocomplete="off">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="form-group">

                                        <a class="btn btn-primary btn-user btn-block" href="@Url.Action("SuperAdmin","Account",new {Area="Admin"})"  style="width:61%;margin-left:19%;"> Super Admin</a>


                                        @*<button class="btn btn-primary btn-user btn-block">
                                          <span class="icon text-white-50">
                                          <i class="fas fa-sign-in"></i>
                                          </span>
                                          <span class="text">Proceed To Super Admin</span>
                                          </button>*@

                                    </div>
                                </form>
                                <hr>
                                <form asp-action="Admin/Account/normalAdminLogin" class="user" autocomplete="off">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="form-group">
                   <a class="btn btn-primary btn-user btn-block" href="@Url.Action("normalAdminLogin","Account",new {Area="Admin"})"  style="width:61%;margin-left:19%;"> Normal Admin</a>

                                        @*<button class="btn btn-primary btn-user btn-block" formaction="Admin/Account/normalAdminLogin">
            <span class="icon text-white-50">
                <i class="fas fa-sign-in"></i>
            </span>
            <span class="text">Proceed To Admin</span>
        </button>*@

                                    </div>


                                </form>





                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>